html,
body {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

@mixin card($color) {
    background: $color;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    .card-profile {
        max-width: 100px;
    }

    .card-title {
        font-weight: 500;
        .card-live{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 12px;
            .card-subtitle{
                font-weight: 400;
                text-overflow: ellipsis;
            }

            .live-count{
                position: relative;
                font-weight: 300;
            }
        }
    }
}

.wrapper {
    .main-page-wrapper {
        .online-wrapper {
            .card {
                @include card(lightgreen);

            }
        }

        .offline-wrapper {
            .card {
                @include card(grey)
            }
        }
    }
}